.body {
  margin: 0px;
  padding: 0px; 
}

.App {
  margin: 0px;
  padding: 0px; 
}



.App-logo {
  height: 28vmin;
  display: flex;
  width: 43% 39%; 
  margin: -12px;
  padding: 1px;
}


.intro {
  display:flex; 
  width: 100%;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  align-content: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  display:flex;
  width: 100%; 
  padding: 8px;
  margin: 0px;
  font-size: 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.App-Pic {
  display: flex; 
  float: left;
  left: 47%;
  position: absolute;
  bottom: 0;
  height: 27%;
  width: 12%; 
  padding: 10px;
  margin: -21px;
  
}


.App-Image {
  height: 100px;
  float: right;
  background-size: cover;
  width: 100vw; 
  padding: 8px;
  margin: 11px;
  margin-left: -19px;
  margin-right: -19px;
}


.App-About {
  display: flex; 
  float: left; 
  height: 35%;
  width: 35%; 
  margin-right: -120px;
  padding: 0px;
 
}

.About-ProfilePic {
  display: flex; 
  float: right; 
  height: 19%;
  width: 19%; 
}

.Pricing-Image {
  display: flex; 
  float: right; 
  height: 29%;
  width: 23%; 
}

.App-header {
  background-color: #eaecf1;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin: -10px;
  padding: 2px;
}

.App-link {
  display: flex; 
  align-items: center; 
  align-content: center;
  font-size: 29px;
  
  
}

.nav-link-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;  
  margin: 65px;  
  justify-content: space-around;
  width: 100%;
  font-size: 19px;
  border-radius: 25px;
  margin-bottom: -60px;
}


button {
  border: 0;  
  padding: 0 11px;
  font-size: 16px;
  line-height: 2.35;
  color:rgb(57, 120, 223);
  background-color: rgb(199, 196, 196); 
  letter-spacing: 2.25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgb(120, 209, 250);
  color: rgb(6, 74, 95); 
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(28, 211, 43, 0.6),
                inset 2px 2px 3px rgba(218, 143, 24, 0.6);
}

a:hover {
  background-color: rgb(157, 218, 236);
  letter-spacing: 1.5px;
  text-decoration: none; 
  transition: 0.45s;
}

a {
  color: rgb(57, 120, 223); 
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}



.about-intro {
  display:flex; 
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.about-body {
  display:flex; 
  padding: 8px;
  margin: 0px;
  font-size: 16px;
  justify-content: right;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricing {
  display:flex; 
  padding: 1px;
  margin: 1px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricing-body {
  display:flex; 
  padding: 2px;
  margin: 0px;
  font-size: 16px;
  justify-content: right;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-Consult {
  display: flex; 
  float: right; 
  padding: -2px;
  margin: 0px; 
  height: 29%;
  width: 20%; 
}

.book-content {
  display:flex; 
  padding: 8px;
  margin: 1px;
  font-size: 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table {
  display:grid; 
  line-height: 1.15;
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  align-items: center;
  padding: 1px;
  margin: 15px;
  font-weight: bold;
  height: 275px; 
  padding: 2px 22px;
  
}

.subject-table {
  display:flex; 
  line-height: 1.15;
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  align-items: center;
  padding: 1px;
  margin: 15px;
  font-weight: bold;
  width: 100%;
  padding: 0px 22px;
  
}


.text-area {
  display: flex;
  margin: 25 25px; 
  padding: 1px 34px;
}

textarea{
  width: 490px;
  color: gray; 
  height: 200px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 1.5px solid rgb(206, 192, 192);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

}

.icons {
  display: flex;
  margin: 51px 15px 19px 10px;
  float: left;
  font-size: 3em;
  align-content: center;
  padding: 1px 15px 1px 11px;
  color: rgb(47, 187, 206); 
}

.text {
  display:flex; 
  font-weight: bold;
  width: 20%; 
  padding: 20px 1px 21px 20px;
  margin: 51px 0px 11px;
  font-size: 15px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-contact {
  display: flex; 
  color: rgb(19, 20, 20); 
  width: 15%; 
  margin: 11px;
  font-size: 26px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}



input {
  width: 42%; 
  height: 20px;
  background-color: rgb(209, 243, 243);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgb(3, 3, 3);
}

button {
  display:flex; 
  flex-direction: column-reverse;
  height: 50px;
  align-content: center;
  align-items: center;
  padding: 4px ; 
  width: 20%;
  margin: 25px 10px 25px 25px; 
  
}

button1 {
  align-content: center;
  align-items: center;
  padding: 4px 5px; 
  width: 20%;
  margin: 25px 10px 25px; 
  
}

select { 
  display:flex; 
  align-items: center;
  width: 112%; 
  padding: 10px 18px; 
  color: blue;
  padding-top: 3px 3px 3px 3px;
  border-color: rgb(35, 67, 211);
}

.dropmenu {
  display: flex; 
  flex-direction: row;
  width: 100px;
  height: 55px;
  flex-direction: row;
  margin: 1px;
  
  float: left; 
  width: 25%;
  color: blue;
  padding: 1px;
  font-size: 12px;
  
}


.Booktime {
  display: flex;
 
  margin: 100px 2px 2px 38px;

  padding:5px 1px 5px 0px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
  color: blue;
  font-size: 12px;
}

.classes {
 display: flex;
 color: blue; 
 width: 150px;
 height: 25px;
 margin: 4px;
 padding: 1px 3px 1px 10px;
}

.Bookampm {
  display: flex;
  flex-direction: row-reverse;
  margin: 25px 2px 25px -257px; 
  padding:15px 3px 5px 3px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
  color: blue;
  font-size: 12px;
}

@media(max-width: 700px) {
  .App {
    flex-direction: column;
    align-content: space-between;
    padding: 185px 185px 185px 180px; 
    margin: 185px 185px 185px 180px; 
    color: green; 
  }
}

@media(max-width: 650px) {
  .nav-link-wrapper {
    flex-direction: column;
    
    padding: 180px 150px 180px 180px; 
    margin: 180px 180px 100px 190px; 
    
  }
}