

.App-logo {
  height: 28vmin;
  display: flex;
  width: 43% 39%; 
  margin: -12px;
  padding: 1px;
}


.intro {
  display:flex; 
  width: 100%;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  align-content: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  display:flex;
  width: 100%; 
  padding: 8px;
  margin: 0px;
  font-size: 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.App-Pic {
  display: flex; 
  float: left;
  left: 47%;
  position: absolute;
  bottom: 0;
  height: 27%;
  width: 12%; 
  padding: 10px;
  margin: 0 auto;
  
}


.App-Image {
  height: 100px;
  background-size: cover;
  width: 100vw; 
  padding: 8px;
  margin: 11px;
  margin-left: -19px;
  margin-right: -19px;
}


.App-About {
  display: flex; 
  float: left; 
  height: 35%;
  width: 35%; 
  margin-right: -120px;
  padding: 0px;
 
}

.About-ProfilePic {
  display: flex; 
  float: right; 
  height: 19%;
  width: 19%; 
}

.Pricing-Image {
  display: flex; 
  float: right; 
  height: 29%;
  width: 23%; 
}

.App-header {
  background-color: #eaecf1;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin: -10px;
  padding: 2px;
}

.App-link {
  display: flex; 
  align-items: center; 
  align-content: center;
  font-size: 29px;
  
  
}

.nav-link-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;  
  margin: 65px;  
  justify-content: space-around;
  width: 100%;
  font-size: 19px;
  border-radius: 25px;
  margin-bottom: -60px;
}


button {
  border: 0;  
  padding: 0 11px;
  font-size: 14px;
  line-height: 2.35;
  color: blue;
  background-color: rgb(199, 196, 196); 
  letter-spacing: 2.25px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgb(120, 209, 250);
  color: rgb(6, 74, 95); 
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(28, 211, 43, 0.6),
                inset 2px 2px 3px rgba(218, 143, 24, 0.6);
}

a:hover {
  background-color: rgb(157, 218, 236);
  letter-spacing: 1.5px;
  text-decoration: none; 
  transition: 0.45s;
}

a {
  color: rgb(57, 120, 223); 
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}



.about-intro {
  display:flex; 
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.about-body {
  display:flex; 
  padding: 8px;
  margin: 0px;
  font-size: 16px;
  justify-content: right;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricing {
  display:flex; 
  padding: 1px;
  margin: 1px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricing-body {
  display:flex; 
  padding: 2px;
  margin: 0px;
  font-size: 16px;
  justify-content: right;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-Consult {
  display: flex; 
  float: right; 
  padding: -2px;
  margin: 0px; 
  height: 29%;
  width: 20%; 
}

.book-content {
  display:flex; 
  padding: 8px;
  margin: 1px;
  font-size: 16px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}